.chart-container .recharts-legend-wrapper ul li {
  margin-bottom: 10px;
}

.recharts-pie {
  position: absolute;
  transform: translate(10%, 5%);
}
.recharts-legend-wrapper {
  position: absolute;
  transform: translate(50%, -95%);
}
